@font-face {
  font-family: 'inter';
  src: url("../fonts/Inter/inter-bold.woff2") format("woff2"), url("../fonts/Inter/inter-bold.woff") format("woff"), url("../fonts/Inter/inter-bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src: url("../fonts/Inter/inter-semibold.woff2") format("woff2"), url("../fonts/Inter/inter-semibold.woff") format("woff"), url("../fonts/Inter/inter-semibold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src: url("../fonts/Inter/inter-medium.woff2") format("woff2"), url("../fonts/Inter/inter-medium.woff") format("woff"), url("../fonts/Inter/inter-medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src: url("../fonts/Inter/inter-regular.woff2") format("woff2"), url("../fonts/Inter/inter-regular.woff") format("woff"), url("../fonts/Inter/inter-regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'mulish';
  src: url("../fonts/Mulish/mulish-bold.woff2") format("woff2"), url("../fonts/Mulish/mulish-bold.woff") format("woff"), url("../fonts/Mulish/mulish-bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'mulish';
  src: url("../fonts/Mulish/mulish-regular.woff2") format("woff2"), url("../fonts/Mulish/mulish-regular.woff") format("woff"), url("../fonts/Mulish/mulish-regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'mulish';
  src: url("../fonts/Mulish/mulish-light.woff2") format("woff2"), url("../fonts/Mulish/mulish-light.woff") format("woff"), url("../fonts/Mulish/mulish-light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'playfair display';
  src: url("../fonts/Playfair_Display/playfairdisplay-bold.woff2") format("woff2"), url("../fonts/Playfair_Display/playfairdisplay-bold.woff") format("woff"), url("../fonts/Playfair_Display/playfairdisplay-bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-style: 16px;
  font-style: normal;
  overflow-x: hidden;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../img/decorElementOne.svg);
  background-repeat: no-repeat;
  background-position: 480px 90px;
}

.container__hero::before {
  content: '';
  background-image: url(../img/decorElementTwo.svg);
}

.btn {
  font-family: 'inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 12px 36px;
  min-width: 132px;
  background-color: #FB8F1D;
  border: 1px solid #FB8F1D;
  border-radius: 8px;
  color: #fff;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.btn + .btn {
  margin-left: 14px;
}

.header {
  padding: 43px 0;
}

.header .logo {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
  width: 41px;
  height: 41px;
  display: inline-block;
}

.header .nav {
  margin-left: auto;
}

.header .nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.header .nav__link {
  font-family: 'inter', sans-serif;
  font-weight: 400;
  line-height: 19px;
  margin-right: 34px;
  text-decoration: none;
  color: #B8BECD;
}

.header .nav .link__active {
  font-family: 'inter', sans-serif;
  font-weight: 500;
  line-height: 19px;
  color: #202336;
}

.header .nav .link__active:nth-of-type(1) {
  margin-right: 37px;
}

.header .btn__wrap .btn:nth-child(1) {
  background-color: transparent;
  color: #FB8F1D;
}

.section .hero__left {
  width: 470px;
  margin-top: 72px;
}

.section .hero__left .page__title {
  font-family: 'playfair display', sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  margin: -1px;
  color: #202336;
  margin-bottom: 74px;
}

.section .hero__left .form .form__title {
  font-family: 'inter', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 48px;
  display: block;
  color: #202336;
}

.section .hero__left .form .form__title::after {
  content: '';
  margin-top: 21px;
  width: 32px;
  height: 2px;
  display: block;
  border-radius: 4px;
  background-color: #202336;
}

.section .hero__left .form .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px 17px;
}

.section .hero__left .form .form__item__wrap {
  min-width: 220px;
  position: relative;
  margin: 0 15px 35px;
  overflow: hidden;
  border: 0.8px solid #AFB0B9;
  border-radius: 6px;
}

.section .hero__left .form .form__item__wrap::after {
  content: '';
  top: 0;
  right: 0;
  width: 67px;
  height: 100%;
  display: block;
  pointer-events: none;
  position: absolute;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 6px;
  background-color: #fff;
}

.section .hero__left .form .form__item {
  font-family: 'inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  width: 100%;
  display: inline-block;
  padding: 16px 31px 12px;
  border: none;
  color: #4A4C53;
}

.section .hero__left .btn__form {
  font-family: 'mulish', sans-serif;
  font-weight: 700;
  font-size: 17px;
  min-width: 180px;
  padding: 14px 36px;
}

.section .hero__right .hero__img {
  min-width: 687px;
  -webkit-transform: translate(147px, 37px);
          transform: translate(147px, 37px);
}

.sections .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 317px 102px 131px 102px;
}

.sections .action .action__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: right;
}

.sections .action .action__body {
  padding: 92px 0px 111px 70px;
  margin-left: 32px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.sections .action .action__body .section__title {
  font-family: 'playfair display', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
}

.sections .action .action__body .action__title {
  margin-bottom: 20px;
}

.sections .action .action__body .action__desc {
  font-family: 'mulish', sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 39px;
  color: #7D7987;
}

.sections .action .action__body .btn__sectionTwo {
  font-family: 'inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  padding: 12px 38px;
}

.section__post {
  margin-top: 50px;
}

.section__post .section__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 48px 0px 51px;
  margin-top: 132px;
  margin-bottom: 27px;
}

.section__post .section__head .section__title {
  font-family: 'playfair display';
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}

.section__post .section__head .view__all {
  font-family: 'inter', sans-serif;
  font-weight: 600;
  margin-top: 12px;
  display: inline-block;
  position: relative;
  font-size: 17px;
  text-decoration: none;
  color: #FB8F1D;
}

.section__post .section__head .view__all::after {
  content: '';
  width: 6px;
  height: 10px;
  margin-left: 11px;
  display: inline-block;
  background-image: url(../img/arrow_post_02.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

.section__post .posts {
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -12.5px;
}

.section__post .posts .post {
  display: inline-block;
  text-decoration: none;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin: 58px 12.5px 0;
}

.section__post .posts .post .post__body {
  bottom: 3px;
  left: -1px;
  position: absolute;
  width: 46%;
  border-radius: 0 6px 0 0;
  padding-top: 15px;
  padding-right: 22px;
  background-color: #fff;
}

.section__post .posts .post .post__body .post__title {
  font-family: 'inter', sans-serif;
  font-weight: 600;
  font-size: 17px;
  color: #042521;
}

.section__post .posts .post .post__body .post__subtitle {
  font-family: 'inter', sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #80918E;
  line-height: 24px;
}

.section__head .view__all {
  margin-left: auto;
}

.action__revers .action__bodyTwo {
  -webkit-transform: translate(-53px, -57px);
          transform: translate(-53px, -57px);
}

.action__revers .action__imageTwo {
  -webkit-transform: translate(60px, -84px);
          transform: translate(60px, -84px);
}

.action__revers .section__title {
  font-family: 'playfair display', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
}

.action__revers .action__title {
  margin-bottom: 20px;
}

.action__revers .action__desc {
  font-family: 'mulish', sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 39px;
  color: #7D7987;
}

.action__revers .btn__sectionTwo {
  font-family: 'inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  padding: 13px 42px;
}

.section__reviews {
  margin-bottom: 282px;
}

.section__reviews .section__head {
  margin: 29px 0 0 49px;
}

.section__reviews .section__head .section__title {
  font-family: 'playfair display', sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}

.section__reviews .reviews {
  padding: 0 50px;
}

.section__reviews .reviews .review__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section__reviews .reviews .review__item .review__item__body {
  margin-top: 145px;
  width: 50%;
}

.section__reviews .reviews .review__item .review__item__body .review__item__star__rating {
  margin-bottom: 29px;
}

.section__reviews .reviews .review__item .review__item__body .review__item__text {
  font-family: 'mulish', sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 50px;
  padding-right: 110px;
  line-height: 36px;
  color: #000000;
}

.section__reviews .reviews .review__item .review__item__body .review__item__name {
  font-family: 'inter', sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #000000;
}

.section__reviews .reviews .review__item .review__item__body .review__item__position {
  font-family: 'inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 48px;
}

.section__reviews .reviews .review__item .review__item__img {
  width: 384px;
  margin-left: 73px;
  margin-top: 63px;
  border-radius: 10px;
  overflow: hidden;
}

.section__reviews .reviews .review__item .review__item__img .review__item__img__inner {
  border-radius: 10px;
  overflow: hidden;
}

.star__rating img {
  margin-right: 11px;
}

.posts .post__stories {
  width: 263px;
  margin: 0 12.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
}

.posts .post__stories .post__stories__img {
  padding-top: 100%;
  margin-bottom: 13px;
  position: relative;
}

.posts .post__stories .post__stories__img img {
  top: 29px;
  left: 0;
  width: 100%;
  height: 88%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  display: inline-block;
}

.posts .post__stories .post__stories__body .post__stories__title {
  font-family: 'inter', sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 30px;
  margin-bottom: 13px;
  color: #000000;
}

.posts .post__stories .post__stories__body .post__stories__subtitle {
  font-family: 'inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #7D7987;
}

.post__stories__link {
  font-family: 'inter', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  margin-top: 23px;
  text-decoration: none;
  color: #FB8F1D;
}

.footer {
  margin-top: 270px;
  padding-top: 76px;
  padding-bottom: 30px;
  color: #848484;
  background-color: #F9F9FB;
}

.footer .footer__top {
  padding-bottom: 77px;
  border-bottom: 1px solid #C4C4C4;
}

.footer .footer__top .footer__row {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  -ms-grid-columns: minmax(270px, 500px) (minmax(min-content, 265px))[2] auto;
      grid-template-columns: minmax(270px, 500px) repeat(2, minmax(-webkit-min-content, 265px)) auto;
      grid-template-columns: minmax(270px, 500px) repeat(2, minmax(min-content, 265px)) auto;
}

.footer .footer__top .footer__row .footer__col {
  padding: 8px 0 0 12px;
}

.footer .footer__top .footer__row .footer__col:nth-child(1) {
  padding: 0;
}

.footer .footer__top .footer__row .footer__col .footer__logo {
  margin-bottom: 26px;
  display: inline-block;
}

.footer .footer__top .footer__row .footer__col .footer__text {
  margin-bottom: 55px;
  font-family: 'mulish', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}

.footer .footer__top .footer__row .footer__col .footer__text:last-child {
  margin-bottom: 0;
}

.footer .footer__top .footer__row .footer__menu .f__menu__title {
  font-family: 'mulish', sans-serif;
  font-weight: 700;
  font-size: 19px;
  margin-bottom: 25px;
  color: #000000;
}

.footer .footer__top .footer__row .footer__menu .f__menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer .footer__top .footer__row .footer__menu .f__menu__list .f__menu__item {
  margin-bottom: 15px;
}

.footer .footer__top .footer__row .footer__menu .f__menu__list .f__menu__item a {
  font-family: 'mulish', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #848484;
  display: inline-block;
  text-decoration: none;
}

.footer__icons {
  padding: 30px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 35px;
          column-gap: 35px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -ms-grid-columns: (minmax(20px, min-content))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20px, -webkit-min-content));
      grid-template-columns: repeat(auto-fit, minmax(20px, min-content));
}

.footer__icons a {
  display: inline-block;
}

.footer__icons a:hover svg path {
  fill: #FB8F1D;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/*# sourceMappingURL=style.css.map */