@font-face {
  font-family: 'inter';
  src: url("../fonts/Inter/inter-bold.woff2") format("woff2"), url("../fonts/Inter/inter-bold.woff") format("woff"), url("../fonts/Inter/inter-bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src: url("../fonts/Inter/inter-semibold.woff2") format("woff2"), url("../fonts/Inter/inter-semibold.woff") format("woff"), url("../fonts/Inter/inter-semibold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src: url("../fonts/Inter/inter-medium.woff2") format("woff2"), url("../fonts/Inter/inter-medium.woff") format("woff"), url("../fonts/Inter/inter-medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src: url("../fonts/Inter/inter-regular.woff2") format("woff2"), url("../fonts/Inter/inter-regular.woff") format("woff"), url("../fonts/Inter/inter-regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'mulish';
  src: url("../fonts/Mulish/mulish-bold.woff2") format("woff2"), url("../fonts/Mulish/mulish-bold.woff") format("woff"), url("../fonts/Mulish/mulish-bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'mulish';
  src: url("../fonts/Mulish/mulish-regular.woff2") format("woff2"), url("../fonts/Mulish/mulish-regular.woff") format("woff"), url("../fonts/Mulish/mulish-regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'mulish';
  src: url("../fonts/Mulish/mulish-light.woff2") format("woff2"), url("../fonts/Mulish/mulish-light.woff") format("woff"), url("../fonts/Mulish/mulish-light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'playfair display';
  src: url("../fonts/Playfair_Display/playfairdisplay-bold.woff2") format("woff2"), url("../fonts/Playfair_Display/playfairdisplay-bold.woff") format("woff"), url("../fonts/Playfair_Display/playfairdisplay-bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-style: 16px;
  font-style: normal;
  overflow-x: hidden;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../img/decorElementOne.svg);
  background-repeat: no-repeat;
  background-position: 480px 90px;
}

.container__hero::before {
  content: '';
  background-image: url(../img/decorElementTwo.svg);
}

.btn {
  font-family: 'inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 12px 36px;
  min-width: 132px;
  background-color: #FB8F1D;
  border: 1px solid #FB8F1D;
  border-radius: 8px;
  color: #fff;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.btn + .btn {
  margin-left: 14px;
}

.header {
  padding: 43px 0;
}

.header .logo {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
  width: 41px;
  height: 41px;
  display: inline-block;
}

.header .nav {
  margin-left: auto;
}

.header .nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.header .nav__link {
  font-family: 'inter', sans-serif;
  font-weight: 400;
  line-height: 19px;
  margin-right: 34px;
  text-decoration: none;
  color: #B8BECD;
}

.header .nav .link__active {
  font-family: 'inter', sans-serif;
  font-weight: 500;
  line-height: 19px;
  color: #202336;
}

.header .nav .link__active:nth-of-type(1) {
  margin-right: 37px;
}

.header .btn__wrap .btn:nth-child(1) {
  background-color: transparent;
  color: #FB8F1D;
}

.section .hero__left {
  width: 470px;
  margin-top: 72px;
}

.section .hero__left .page__title {
  font-family: 'playfair display', sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  margin: -1px;
  color: #202336;
  margin-bottom: 74px;
}

.section .hero__left .form .form__title {
  font-family: 'inter', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 48px;
  display: block;
  color: #202336;
}

.section .hero__left .form .form__title::after {
  content: '';
  margin-top: 21px;
  width: 32px;
  height: 2px;
  display: block;
  border-radius: 4px;
  background-color: #202336;
}

.section .hero__left .form .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px 17px;
}

.section .hero__left .form .form__item__wrap {
  min-width: 220px;
  position: relative;
  margin: 0 15px 35px;
  overflow: hidden;
  border: 0.8px solid #AFB0B9;
  border-radius: 6px;
}

.section .hero__left .form .form__item__wrap::after {
  content: '';
  top: 0;
  right: 0;
  width: 67px;
  height: 100%;
  display: block;
  pointer-events: none;
  position: absolute;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 6px;
  background-color: #fff;
}

.section .hero__left .form .form__item {
  font-family: 'inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  width: 100%;
  display: inline-block;
  padding: 16px 31px 12px;
  border: none;
  color: #4A4C53;
}

.section .hero__left .btn__form {
  font-family: 'mulish', sans-serif;
  font-weight: 700;
  font-size: 17px;
  min-width: 180px;
  padding: 14px 36px;
}

.section .hero__right .hero__img {
  min-width: 687px;
  -webkit-transform: translate(147px, 37px);
          transform: translate(147px, 37px);
}
/*# sourceMappingURL=style.css.map */