// Inter
@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter/inter-bold.woff2') format('woff2'),
         url('../fonts/Inter/inter-bold.woff') format('woff'),
         url('../fonts/Inter/inter-bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal; 
}
@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter/inter-semibold.woff2') format('woff2'),
         url('../fonts/Inter/inter-semibold.woff') format('woff'),
         url('../fonts/Inter/inter-semibold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal; 
}
@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter/inter-medium.woff2') format('woff2'),
         url('../fonts/Inter/inter-medium.woff') format('woff'),
         url('../fonts/Inter/inter-medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal; 
}
@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter/inter-regular.woff2') format('woff2'),
         url('../fonts/Inter/inter-regular.woff') format('woff'),
         url('../fonts/Inter/inter-regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal; 
}

// Mulish
@font-face {
    font-family: 'mulish';
    src: url('../fonts/Mulish/mulish-bold.woff2') format('woff2'),
         url('../fonts/Mulish/mulish-bold.woff') format('woff'),
         url('../fonts/Mulish/mulish-bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal; 
}
@font-face {
    font-family: 'mulish';
    src: url('../fonts/Mulish/mulish-regular.woff2') format('woff2'),
         url('../fonts/Mulish/mulish-regular.woff') format('woff'),
         url('../fonts/Mulish/mulish-regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal; 
}
@font-face {
    font-family: 'mulish';
    src: url('../fonts/Mulish/mulish-light.woff2') format('woff2'),
         url('../fonts/Mulish/mulish-light.woff') format('woff'),
         url('../fonts/Mulish/mulish-light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal; 
}

// Playfair_Display
@font-face {
    font-family: 'playfair display';
    src: url('../fonts/Playfair_Display/playfairdisplay-bold.woff2') format('woff2'),
         url('../fonts/Playfair_Display/playfairdisplay-bold.woff') format('woff'),
         url('../fonts/Playfair_Display/playfairdisplay-bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal; 
}




